h1 {
  display: flex;
  justify-content: center;
  color: teal;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.game-container .results {
  color: blue;
  margin-bottom: 30px;
}

.winner-icon img {
  width: 350px;
  margin-top: 30px;
}
